[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohappyeyeballs = "*"
aiohttp = "*"
aiosignal = "*"
async-timeout = "*"
attrs = "*"
beautifulsoup4 = "*"
certifi = "*"
charset-normalizer = "*"
distlib = "*"
filelock = "*"
frozenlist = "*"
idna = "*"
multidict = "*"
platformdirs = "*"
propcache = "*"
requests = "*"
soupsieve = "*"
typing-extensions = "*"
urllib3 = "*"
yarl = "*"

[dev-packages]

[requires]
python_version = "*"
